---
#@import "minima";

---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

div::after {
  content: "";
  background: url(/assets/images/et.jpg) center 0 no-repeat;
  opacity: 0.02;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}
